---
---

@import "{{ site.theme }}";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix{
    display:inline-block;
    display:block
}
.none{
    display:none
}
body#layout li{
    list-style:none
}
::selection{
    background:#2eb0ec;
    color:#fff
}
::-moz-selection{
    background:#333;
    color:#fff
}
a img{
    border:0
}
ol,ul{
    padding:10px 0 20px;
    margin:0 0 0 35px;
    text-align:left
}
ol li{
    list-style-type:decimal;
    padding:0 0 5px
}
ul li{
    list-style-type:square;
    padding:0 0 5px
}
ul ul,ol ol{
    padding:0
}
h1,h2,h3,h4,h5,h6{
    color:#272727;
    font-weight:600
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
    color:#3b8dbd
}
h1{
    font-size:32px;
    line-height:38px
}
h2{
    font-size:22px;
    line-height:32px
}
h3{
    font-size:18px;
    line-height:28px
}
h4{
    font-size:18px;
    line-height:26px
}
h5{
    font-size:15px;
    line-height:20px
}
h6{
    font-size:10px;
    line-height:20px
}
.post-body h1{
    margin:55px 0 25px
}
.post-body h2{
    margin:35px 0 15px
}
.post-body h3,.post-body h4,.post-body h5,.post-body h6{
    margin:15px 0
}
a{
    color:#444;
    text-decoration:none
}
a:hover{
    color:#3b8dbd
}
img{
    vertical-align:bottom;
    max-width:100%
}
body{
    background:#eaeaea;
    color:#444;
    height:100%;
    font-size:16px;
    font-family:Titillium web,sans-serif;
    line-height:1.5em;
    overflow-x:hidden;
    margin:0;
    padding:0
}
.container{
    top:-62px
}
.clr{
    clear:both;
    float:none
}
.ct-wrapper:before,.ct-wrapper:after{
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden
}
.ct-wrapper:after{
    clear:both
}
.ct-wrapper{
    position:relative;
    padding:0;
    max-width:1345px;
    min-width:320px;
    width:100%;
    margin:0 auto;
    min-height:0
}
.header-right{
    float:right;
    padding:0;
    margin:0 22px 0 0;
    width:72.8%;
    max-width:728px;
    max-height:90px
}
.header-right img{
    display:block
}
[class*="entypo-"]:before{
    font-family:'entypo',sans-serif
}
.outer-wrapper{
    background:#f0f0f0;
    margin:0 10px;
    -webkit-box-shadow:0 0 0 #FFF,0 1px 1px rgba(0,0,0,0.1);
    box-shadow:0 0 0 #FFF,0 1px 1px rgba(0,0,0,0.1)
}
.container{
    position:relative;
    padding:0;
    max-width:1325px;
    min-width:320px;
    width:100%;
    margin:0 auto;
    min-height:0
}
.header-wrapper{
    background:#33363b;
    width:100%;
    position:relative;
    border-bottom:1px solid #e0e0e0;
    margin:0;
    padding:81px 0;
    min-height:146px;
    padding-bottom:81px
}
.main-wrapper{
    width:100%;
    float:left
}
#content{
    float:left;
    width:71%;
    padding:0 15px;
    background:#FFF
}
body#layout .header-wrapper{
    padding:0 0 2em;
    margin:0
}
body#layout .header-inner-wrap{
    width:95%;
    float:auto\9;
    height:auto\9;
    margin:3em 0 0
}
body#layout .main-wrapper{
    margin:0;
    padding:0;
    float:left;
    width:100%
}
body#layout #content{
    width:65%;
    float:left;
    padding:0;
    margin:0
}
body#layout .sidebar-wrapper{
    float:right;
    width:35%;
    margin:0;
    padding:0
}
body#layout #header{
    width:48%;
    float:left;
    margin:0;
    padding:0
}
body#layout .header-right{
    width:50%;
    float:right;
    margin:-40px 0 0!important;
    padding:0
}
body#layout #page-header{
    display:none
}
body#layout .outer-wrapper,body#layout .sidebar-wrapper,body#layout .ct-wrapper{
    margin:0;
    padding:0
}
body#layout div.footer{
    font-family:sans-serif;
    display:inline-table;
    position:relative;
    float:left;
    max-width:33%;
    margin:0 auto 2px;
    padding:0 0 10px
}
#header{
    width:auto;
    float:left
}
.header-inner-wrap{
    height:95px;
    float:left;
    position:relative;
    margin:0;
    padding:0 30px 20px
}
#header h1{
    position:relative;
    letter-spacing:2px;
    line-height:normal;
    margin:0;
    padding:0;
    font-size:50px
}
#header-inner{
    margin:0;
    padding:0
}
#header h1 a,#header h1 a:hover{
    color:#f9f9f9
}
#header .description{
    display:none
}
#header img{
    border:0 none;
    background:0;
    width:270px;
    height:auto;
    margin:0 auto
}
.header-right{
    float:right
}
#site-navigation.default{
    float:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background:#26272b;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15);
    box-shadow:0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15)
}
#site-navigation.default li{
    list-style:none
}
.menu-main-container{
    max-width:1345px;
    margin:0 auto
}
#site-navigation.default>div>ul>li{
    float:left;
    margin-left:15px;
    position:relative;
    padding:0;
    list-style:none
}
#site-navigation.default>div>ul>li>a{
    padding:13px 5px;
    font-size:16px;
    color:#eee
}
#site-navigation.default ul li>a:hover{
    color:#f0f0f0;
    position:relative;
    z-index:2;
    background:#222326
}
#site-navigation.default ul li ul li a:hover{
    color:#dcdcdc
}
.mobile-menu-button{
    display:none;
    font-weight:700
}
#site-navigation.default ul{
    position:relative;
    margin:0;
    padding:0
}
#site-navigation.default ul:after{
    content:"";
    clear:both;
    display:block
}
#site-navigation.default ul li ul{
    display:none;
    position:absolute;
    top:102%;
    left:0;
    width:200px;
    background:#222326;
    border:1px solid #3d3c3c;
    font-size:13px;
    margin-top:-1px;
    z-index:100
}
#site-navigation.default ul li ul li{
    position:relative;
    padding:0 15px
}
#site-navigation.default ul li ul li a{
    border-top:1px solid #505050;
    padding:7px 0;
    color:#Fff
}
#site-navigation.default ul li ul li.current-menu-item>a,#site-navigation.default ul li ul li.current_page_item>a,#site-navigation.default ul li ul li.current_page_parent>a{
    color:#f1f1f1
}
#site-navigation.default ul li ul li ul{
    position:absolute;
    top:0;
    left:200px;
    z-index:100;
    padding:5px
}
#site-navigation.default ul li.right ul li ul{
    left:-185px
}
#site-navigation.mobile{
    display:none;
    clear:both;
    background:#f1f1f1;
    border-top:1px solid #e1e1e1
}
#site-navigation.mobile ul li,#site-navigation.mobile ul li ul.sub-menu li{
    border-top:1px solid #e5e5e5
}
#site-navigation.mobile ul li a{
    display:block;
    font-size:15px;
    font-weight:500;
    color:#999;
    padding:10px 20px
}
#site-navigation.mobile ul li a:hover,#site-navigation.mobile ul li.current_page_item>a{
    color:#414141;
    background:#e5e5e5
}
#site-navigation.mobile ul li ul li a{
    padding-left:35px
}
#site-navigation.mobile ul li ul li ul li a{
    padding-left:50px
}
#site-navigation.default ul li a,#site-navigation.default ul li:hover>ul{
    display:block
}
#site-navigation.default ul li ul>li:first-child>a,#site-navigation.mobile li:first-child{
    border-top:0
}
.post{
    width:auto;
    margin:3% 0 0;
    padding:0 5px
}
h2.entry-title{
    position:relative;
    line-height:normal;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:700;
    margin:0 15px;
    padding:0
}
h2.index-title{
    margin:0;
    line-height:1.4em;
    padding:0 0 14px;
    font-weight:100
}
h2.index-title a{
    color:#444;
    font-weight:600
}
.entry-image img:hover{
    opacity:.9
}
.entry-image img{
    height:100%;
    object-fit:cover
}
.entry-image{
    width:100%;
    height:245px
}
.post-meta.date{
    padding:5px 0 1px;
    text-transform:uppercase;
    font-size:14px;
    font-weight:400;
    color:#bbb
}
.post-body.entry-content{
    border-bottom:0;
    font-size:16px;
    font-weight:400;
    line-height:1.6em;
    word-wrap:break-word;
    position:relative;
    margin:0 15px;
    padding:15px 0
}
.body-post{
    font-size:16px;
    font-weight:400;
    margin:0;
    padding:0 0 5%
}
.body-post p{
    font-size:16px;
    line-height:1.5em;
    color:#aaa;
}
.post-header{
    color:#999;
    font-family:Verdana,Arial,Tahoma,sans-serif;
    font-size:12px;
    text-align:left;
    margin:5px 15px 0;
}
.post-header,.post-header a{
    color:#AAA;
    font-family:sans-serif;
    font-size:14px;
}
.post-header a:hover{
    color:#303030;
}
.rmlink{
    float:right;
    line-height:normal;
    z-index:1000;
    position:absolute;
    right:0;
    bottom:10px;
}
#blog-pager-newer-link{
    position:relative;
    float:left;
    width:44%;
    text-align:left;
    font-weight:700;
    padding:20px
}
#blog-pager-older-link{
    display:inline;
    float:right;
    width:45%;
    text-align:right;
    font-weight:700;
    padding:20px
}
#blog-pager{
    clear:both;
    font-size:16px;
    line-height:normal;
    margin:0;
    padding:0;
    overflow:visible
}
.showpageNum a{
    color:#fff
}
.showpage{
    display:none
}
.showpageNum{
    padding:5px 12px;
    background:#fff;
    margin:0 2px 0 0;
    position:relative;
    color:#3b8dbd;
    border:0;
    border-bottom:3px solid #ddd;
    border-top:1px solid #f1f1f1
}
.showpageNum:hover{
    border-bottom-color:#3b8dbd
}
.showpageNum a{
    color:#3b8dbd
}
.showpagePoint{
    padding:5px 12px;
    background:#fff;
    position:relative;
    border-bottom:3px solid #3b8dbd;
    color:#333;
    border-top:1px solid #f1f1f1
}
#blog-pager h4,h5{
    font-weight:300
}
.share-story-container{
    display:block;
    width:100%;
    position:relative;
    clear:both;
    float:left;
    height:80px;
    background:#FFF;
    margin:0 0 30px;
    padding:0
}
.share-story-container ul{
    list-style:none;
    margin:0 0 0 35px;
    padding:0
}
.share-story-container ul li{
    text-align:center;
    list-style:none;
    float:left;
    padding-top:28px;
    margin:0 20px 0 0
}
.share-story-container ul li a{
    color:#fff;
    font-family:helvetica;
    -webkit-transition:.07s ease-in;
    -moz-transition:.07s ease-in;
    -o-transition:.07s ease-in;
    transition:.07s ease-in;
    padding:10px 30px
}
.tweet.tips{
    background:#00a0d1;
    border:1px solid #00a0d1
}
.fb-tips{
    background:#3b5998;
    border:1px solid #3b5998
}
.googleplus-tips{
    background:#da4834;
    border:1px solid #da4834
}
.linkedin-tips{
    background:#0077b5;
    border:1px solid #0077b5
}
.pin-it-tips{
    background:#cb2027;
    border:1px solid #cb2027
}
.author-profile{
    background:rgba(255,255,255,0);
    border:1px solid #e0e0e0;
    margin:0;
    padding:22px;
    position:relative
}
.author-profile img{
    border:1px solid #efefef;
    float:left;
    border-radius:50%;
    margin-right:15px!important
}
.author-profile>div>a{
    color:#444
}
.author-profile>div{
    font-size:14px;
    font-family:helvetica;
    margin:0
}
p.description{
    font-size:16px;
    line-height:1.7em;
    margin:0
}
p.description a{
    color:#333;
    font-family:arial rounded mt bold
}
a.g-profile{
    font-size:18px;
    margin:15px 0 5px
}
.author-profile>div>div>div{
    float:right;
    font-size:12px
}
.showpageNum a,.showpage a{
    margin:0
}
.showpagePoint{
    margin:0 2px 0 0
}
.home-link,.showpageOf{
    display:none
}
blockquote{
    background:url(http://3.bp.blogspot.com/-wkm2RmV1TH4/Ud0G27MPsiI/AAAAAAAACfI/xaL0uFOJUI8/s1600/quote.png) no-repeat 5.4% center;
    color:#888;
    font-style:italic;
    margin:10px 0 20px -3%;
    padding:1.5em 38px 10px 114px
}
.status-msg-wrap{
    display:none
}
.comments{
    clear:both;
    margin-top:10px;
    margin-bottom:0;
    padding:10px 2%
}
.comments ol{
    padding:0;
    margin:0
}
.comments li{
    list-style:none;
    margin:0
}
#searchform{
    margin:0 0 1em
}
#searchform #s{
    width:90%;
    border:0;
    outline:0;
    background:#EEE;
    padding:10px
}
.PopularPosts .widget-content ul li{
    padding:0
}
.PopularPosts img{
    padding:0!important;
    width:80px;
    height:80px
}
.PopularPosts .item-thumbnail{
    float:left;
    margin:0 15px 5px 0
}
.PopularPosts .item-snippet{
    display:none
}
.Label li{
    display:block;
    margin:0 0 15px!important
}
.Label li a{
    padding:5px 15px;
    color:#FFF;
    background:#9eca4e;
    float:left;
    margin:1px
}
.Label li:nth-child(n+10){
    display:none
}
.sidebar-top.group{
    background:#3b8dbd;
    padding:15px 30px;
    display:block;
    position:absolute;
    left:0;
    right:0;
    top:0
}
.sidebar-top p{
    float:left;
    color:rgba(255,255,255,0.8);
    font-size:16px;
    font-weight:600;
    text-transform:uppercase;
    line-height:24px;
    padding:3px 0
}
ul.social-links{
    float:right;
    padding:0;
    margin:0
}
.social-links li a{
    color:#FFF;
    color:rgba(255,255,255,0.7);
    font-size:22px
}
.social-links li{
    list-style:none;
    display:inline-block;
    margin-left:8px;
    line-height:16px;
    margin-top:8px;
    position:relative
}
a.social-tooltip:hover{
    color:#fff
}
.social-links .social-tooltip:hover:before{
    top:-10px;
    right:8px;
    border:solid;
    border-color:#FFF rgba(0,0,0,0);
    border-width:5px 5px 0;
    content:"";
    display:block;
    position:absolute;
    z-index:1
}
.social-links .social-tooltip:hover:after{
    top:-36px;
    background:#FFF;
    font-size:14px;
    color:#666;
    content:attr(title);
    display:block;
    right:0;
    padding:5px 15px;
    position:absolute;
    white-space:nowrap;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 0 2px rgba(0,0,0,0.2);
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}
.flickr_plugin{
    width:100%
}
.flickr_badge_image{
    float:left;
    height:75px;
    margin:8px 5px 0;
    width:75px
}
.flickr_badge_image a{
    display:block
}
.flickr_badge_image a img{
    display:block;
    width:100%;
    height:auto;
    -webkit-transition:opacity 100ms linear;
    -moz-transition:opacity 100ms linear;
    -ms-transition:opacity 100ms linear;
    -o-transition:opacity 100ms linear;
    transition:opacity 100ms linear
}
.flickr_badge_image a img:hover{
    opacity:.5
}
.sider-wrapper{
    float:right;
    width:19%;
    padding:0;
    margin:0;
    background:transparent;
    position:relative
}
#sider{
    padding:5em 20px 20px
}
#content h2.story{
    padding:14.7px 25px;
    background:#7dd14e;
    color:#fff
}
.sider-wrapper h2.more{
    text-align:left;
    background:#55a8d6;
    color:#f5f5f5;
    padding:14.7px 25px;
    text-transform:uppercase;
    font-size:18px;
    position:absolute;
    right:0;
    left:0;
    top:0
}
.sider-wrapper ul{
    padding:0;
    margin:0
}
.sider-wrapper li{
    list-style:none;
    padding:5px 5px 15px!important
}
.sidebar-wrapper{
    float:right;
    max-width:348px;
    width:29%;
    background:rgba(255,255,255,0);
    margin:0;
    padding:0;
    position:relative
}
#sidebar{
    clear:both;
    float:left;
    padding:60px 0 10px;
    width:100%
}
.sidebar ul{
    margin:0;
    padding:0
}
.sidebar li{
    list-style:none;
    margin:0 0 10px;
    padding:0
}
.sidebar .widget h2{
    line-height:1.5em;
    margin:0 0 10px;
    padding:8px 16px;
    color:#464646;
    font-size:20px
}
.sidebar .widget{
    border-bottom:1px solid #e0e0e0;
    margin:0 0 1em;
    padding:0
}
.sidebar .widget-content{
    padding:0 20px 15px
}
#footer{
    width:100%;
    color:#3f3f3f;
    background:#fff
}
#footer li{
    list-style:none;
    margin:0
}
#footer a{
    color:#292929
}
.footer{
    float:left;
    width:33%
}
.footer h2{
    color:#383838;
    font-size:19px;
    font-weight:400;
    margin-bottom:12px;
    text-transform:none;
    position:relative
}
.footer .widget{
    clear:both;
    font-size:16px;
    line-height:26px;
    margin:15px 25px 25px
}
.footer>.widget>.widget-content{
    padding:10px
}
.footer ul{
    list-style:none;
    margin:0;
    padding:0
}
.footer li{
    text-transform:capitalize;
    margin:0 0 0 15px;
    padding:0 0 10px
}
.footer-credits{
    font-size:80%;
    overflow:hidden;
    padding:0;
    background:#33363b;
    color:#fff
}
.footer-credits a{
    color:#e0e0e0
}
body>div.header-wrapper>div>div.banner{
    float:right;
    color:#f5deb3;
    font-size:24px;
    background:rgba(0,0,0,.2);
    padding:25px 200px 30px
}
#share-buttons{
    width:100%;
    display:inline-block;
    text-align:center;
    margin:20px auto
}
.share-button{
    background:#DCE0E0!important;
    position:relative;
    display:block;
    float:left;
    height:40px;
    overflow:hidden;
    width:150px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:0 7px
}
.icon{
    display:block;
    float:left;
    position:relative;
    z-index:3;
    height:100%;
    vertical-align:top;
    width:38px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
    text-align:center
}
.icon i{
    color:#fff;
    line-height:42px
}
.pslide{
    z-index:2;
    display:block;
    height:100%;
    left:38px;
    position:absolute;
    width:112px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:0;
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
    margin:0
}
.pslide p{
    font-family:Open Sans;
    font-weight:400;
    border-left:1px solid rgba(255,255,255,0.35);
    color:#fff;
    font-size:16px;
    left:0;
    position:absolute;
    text-align:center;
    top:8px;
    width:100%;
    margin:0
}
.share-button .pslide{
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.facebook1 iframe{
    display:block;
    position:absolute;
    right:5px;
    top:6px;
    z-index:1
}
.facebook2 iframe{
    display:block;
    position:absolute;
    right:5px;
    top:6px;
    z-index:1
}
.twitter iframe{
    width:90px!important;
    right:5px;
    top:10px;
    z-index:1;
    display:block;
    position:absolute
}
.google #___plusone_0{
    width:70px!important;
    top:10px;
    right:15px;
    position:absolute;
    display:block;
    z-index:1
}
.facebook1:hover .pslide{
    left:-90px
}
.facebook2:hover .pslide{
    left:150px
}
.twitter:hover .pslide{
    left:-90px
}
.google:hover .pslide{
    left:150px
}
.facebook1 .icon,.facebook1 .pslide{
    background:#305c99
}
.facebook2 .icon,.facebook2 .pslide{
    background:#305c99
}
.twitter .icon,.twitter .pslide{
    background:#00cdff
}
.google .icon,.google .pslide{
    background:#d24228
}
@media screen and (max-width:1260px){
    .sider-wrapper{
        display:none;
        width:0;
        float:none
    }
    .main-wrapper{
        width:100%
    }
    #content{
        width:68%
    }
}
@media screen and (max-width:1024px){
    .sidebar-wrapper{
        width:28.7%
    }
    #content{
        width:96%
    }
    .post{
        min-height:500px
    }
}
@media screen and (max-width:960px){
    .ct-wrapper{
        padding:0 15px
    }
    #header-navigation{
        display:none
    }
    .main-wrapper,.opt-in .opt-in-wrap{
        margin-right:0;
        width:100%
    }
    .sidebar-wrapper{
        background:transparent;
        box-shadow:0;
        border:0;
        clear:both;
        float:none;
        max-width:100%;
        width:auto;
        margin-left:20px;
        padding:10px
    }
    .sidebar .widget{
        clear:none;
        float:left;
        width:47%;
        margin:0 2% 2% 0
    }
    .sidebar-top.group{
        padding:15px 20px
    }
    body>div.header-wrapper>div>div.banner{
        padding:25px 150px 30px;
        margin-right:10px
    }
    .header-right{
        display:none
    }
}
@media screen and (max-width:768px){
    #header p.description{
        margin:0
    }
    #comment-editor{
        margin:10px
    }
    .footer{
        width:100%;
        clear:both
    }
    #content{
        float:right;
        width:93%
    }
    .header-inner-wrap{
        float:none
    }
    body>div.header-wrapper>div>div.banner{
        float:none;
        color:#f5deb3;
        font-size:24px;
        background:rgba(0,0,0,.2);
        padding:25px 150px 30px;
        margin:0 auto;
        max-width:300px
    }
    #share-buttons{
        width:50%
    }
}
@media screen and (max-width:620px){
    #header img{
        width:100%
    }
    .opt-in .inner .ct-wrapper{
        padding:0 10px
    }
    .post-title{
        font-size:1.2rem!important
    }
    .rdmre{
        display:none
    }
    .sidebar-wrapper{
        float:none;
        clear:both;
        width:auto;
        padding:10px;
        margin:0
    }
    .sidebar .widget{
        clear:both;
        float:none;
        width:100%
    }
    .post-body{
        margin-top:4.5em
    }
}
@media screen and (max-width:420px){
    .entry-image{
        width:100%;
        height:160px
    }
    #share-buttons{
        width:50%
    }
    #content{
        float:right;
        width:90%
    }
    #header h1{
        font-size:3rem!important
    }
    .comments .comments-content .datetime{
        display:block;
        float:none
    }
    .comments .comments-content .comment-header{
        height:70px
    }
    .thumb{
        clear:both;
        float:none
    }
    .post-labels{
        display:none
    }
}
@media screen and (max-width:320px){
    .footer{
        width:100%
    }
    .ct-wrapper{
        padding:0
    }
    .post-body img{
        max-width:100%
    }
    .comments .comments-content .comment-replies{
        margin-left:0
    }
}
h2.date-header,span.blog-admin{
    display:none!important
}
.admenus *{
    margin:0;
    padding:0
}
ul.admenus{
    list-style:none;
    line-height:1;
    overflow:visible!important
}
ul.admenus:after{
    margin:0;
    padding:0;
    content:' ';
    display:block;
    height:0;
    clear:both
}
ul.admenus li{
    float:left;
    display:inline;
    position:relative;
    font-size:14px;
    font-weight:400;
    text-transform:uppercase
}
ul.admenus li a{
    display:block;
    line-height:50px;
    padding:0 20px;
    text-decoration:none;
    color:#2c2c2c;
    font-size:14px;
    font-weight:400;
    transition:all .3s ease-in-out;
    color:#fff;
    color:rgba(255,255,255,0.7)
}
ul.admenus li a:hover,ul.admenus li a.hoverover{
    color:#fff;
    background:rgba(0,0,0,0.1)
}
ul.admenus ul{
    position:absolute;
    display:none;
    top:100%;
    border:1px solid #ccc
}
ul.admenus li:hover>ul{
    display:block
}
ul.admenus ul li{
    z-index:72;
    float:none;
    min-width:160px;
    background:#f5f5f5;
    text-shadow:none
}
ul.admenus ul li a{
    text-transform:none;
    font-weight:400;
    color:#aaa;
    font-family:'Arial'
}
ul.admenus ul li a:hover,ul.adajaxmenu ul li a.hover{
    background:#3b8dbd
}
ul.admenus ul ul{
    display:none;
    left:100%;
    top:0
}
ul.adajaxmenu li div.submenu{
    position:absolute;
    width:600px;
    z-index:90;
    left:0;
    top:100%;
    overflow:hidden;
    min-height:150px;
    background:#f0f0f0;
    -moz-transform:translate(0,30px);
    -webkit-transform:translate(0,30px);
    -o-transform:translate(0,30px);
    transform:translate(0,30px);
    transform-origin:50% 0;
    visibility:hidden;
    opacity:0;
    color:#929292;
    box-shadow:0 10px 7px -7px rgba(0,0,0,0.1);
    transition:all .3s ease-in-out
}
ul.adajaxmenu li:hover div.submenu{
    visibility:visible;
    opacity:1;
    -moz-transform:translate(0,0);
    -webkit-transform:translate(0,0);
    -o-transform:translate(0,0);
    transform:translate(0,0)
}
ul.adajaxmenu ul,ul.adajaxmenu ul li{
    display:block!important;
    border:0 none!important;
    margin:0!important;
    padding:0!important
}
ul.adajaxmenu ul li{
    background:none!important;
    float:none!important
}
ul.adajaxmenu ul.verticlemenu{
    position:absolute;
    width:33%;
    left:0;
    top:0;
    bottom:0;
    background:#33363b
}
ul.adajaxmenu ul.postslist{
    position:relative;
    display:block;
    width:65%;
    float:right;
    margin:0 0 15px!important;
    background:0
}
ul.adajaxmenu ul.postslist li{
    display:block;
    overflow:hidden;
    position:relative;
    min-height:60px;
    padding:15px 8px 15px 110px !important
}
ul.adajaxmenu ul.postslist li .imgCont{
    position:absolute;
    left:0;
    top:15px;
    width:100px;
    height:70px;
    overflow:hidden;
    font-size:0;
    line-height:0;
    border:1px solid #929292
}
ul.adajaxmenu ul.postslist li .imgCont img{
    position:relative;
    top:-20px;
    padding:0;
    width:100px;
    height:100px;
    display:block
}
ul.adajaxmenu ul.postslist li a{
    display:block;
    line-height:1.4;
    padding:0!important;
    color:#666;
    font-family:'Arial';
    font-size:12px;
    transition:all .3s ease-in-out
}
ul.adajaxmenu ul.postslist li a:hover{
    color:#f54325;
    background:transparent
}
ul.adajaxmenu .loader{
    background:url(http://4.bp.blogspot.com/-sRHd2OR7omQ/VFBOax0jdNI/AAAAAAAABgg/ei6bgO1agM0/s1600/adloading.gif) no-repeat scroll 0 0 transparent;
    width:22px;
    height:22px;
    position:absolute;
    top:50%;
    margin-top:-11px;
    right:5px
}
ul.adajaxmenu .menuArrow{
    border-bottom:4px solid transparent;
    border-top:4px solid transparent;
    border-left:4px solid #fff;
    display:block;
    height:0;
    margin-top:-4px;
    position:absolute;
    right:11px;
    top:50%;
    width:0
}
#adajaxmenu{
    height:50px;
    width:100%;
    position:relative;
    max-width:1307px;
    margin:0 auto -19px;
    padding:0;
    background:transparent;
    z-index:9;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.05),0 -1px 0 rgba(0,0,0,0.2),inset 1px 0 0 rgba(0,0,0,0.2),inset -1px 0 0 rgba(0,0,0,0.2);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.05),0 -1px 0 rgba(0,0,0,0.2),inset 1px 0 0 rgba(0,0,0,0.2),inset -1px 0 0 rgba(0,0,0,0.2)
}
li.search-form{
    float:right!important;
    line-height:50px;
    margin:0 20px 0 0
}
li.search-form .searchbar{
    border:0;
    padding:11px 10px;
    background:rgba(0,0,0,0.1);
    color:#fff;
    width:130px
}
li.search-form .searchbar:focus{
    border:0;
    outline:0;
    background:#fafafa;
    color:#666
}
li.search-form .searchsubmit{
    background:rgba(222,222,222,0.1);
    border:0;
    color:#fff;
    cursor:pointer;
    padding:10px;
    transition:all .3s ease-in-out
}
li.search-form .searchsubmit:hover{
    opacity:.9
}
.search-alert{
    color:#f9f9f9;
    padding:2px 15px 2px 40px;
    display:none;
    margin:5px;
    background:#333 url(http://4.bp.blogspot.com/-Pzf65SZdXYo/VFHy3_xVhmI/AAAAAAAABg4/W2QdE2000f4/s1600/Indicate.png) no-repeat;
    background-position:10px;
    border-radius:5px;
    text-transform:lowercase
}
#beakingnews{
    background:#fff;
    float:left;
    height:60px;
    line-height:60px;
    overflow:hidden;
    width:100%;
    border-bottom:1px solid #eee
}
#recentpostbreaking{
    float:left;
    margin-left:30px
}
#recentpostbreaking ul,#recentpostbreaking li{
    list-style:none;
    margin:0;
    padding:0
}
.selectnav{
    display:none
}
#back-to-top{
    background:#eaeaea;
    color:#777;
    overflow:hidden;
    text-align:center;
    width:60px;
    height:30px;
    display:block;
    margin:0 auto;
    margin:0 auto -30px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    -webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 0 rgba(0,0,0,0.05)
}
#back-to-top i{
    font-size:38px;
    position:relative;
    top:-7px
}
.one-half{
    float:left
}
.one-half1{
    float:right
}
.pad{
    padding:20px 30px 40px
}
